@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700|Rajdhani:700');

//Variable for default user's system font
$f-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$title-font: 'Rajdhani', sans-serif;
$text-font: 'Poppins', sans-serif;