///////////////////////////////
/////////// Silder ////////////
///////////////////////////////

// Variables

#slider {
    position: relative;
    background-color: $color-main;
    // Video Styles located in _videos.scss

    .text-wrapper {
        padding: 0 15px;
    }
    .emoji {
        position: absolute;
        display: block;
        margin-top: -20px;
        width: 100%;
        height: 38px;
        background: top left no-repeat url(/images/emoji-1.png);
        background-size: contain;
        z-index: 999;

        @media #{$tablet} {
            margin-top: -30px;
            height: 50px;
        }
        @media #{$normal} {
            margin-top: -30px;
            height: 12vw;
            max-height: 60px;
        }

    }
    .claim {
        padding-top: 25px;

        @media #{$tablet} {
            padding-top: 35px;
        }
        @media #{$normal} {
            padding-top: 40px;
        }
    }
    .logo {
        position: absolute;
        display: block;
        right: 7.5px;
        bottom: -35px; //25px;
        width: 50vw;
        height: 30vw;
        max-width: 250px;
        max-height: 140px;
        background: top right no-repeat url(/images/logo-zukrass.png);
        background-size: contain;
        transition: none;

        @media #{$normal} {
            bottom: 20px;
        }
        &:hover {
            opacity: 1;
        }
        span {
            display: none;
        }
    }

    .flickity-enabled {
        position: relative;
        .flickity-viewport {
        //height: 90vh !important;
        }

        .carousel-cell {
            width: 100%;
            height: 75vh;
            min-height: 350px;
            max-height: 450px;
            background-color: $color-main;

            @media #{$tablet} {
                max-height: 650px;
            }
            @media #{$normal} {
                max-height: 750px;
            }
        }

        .flickity-button {
            display: none;
            background: none;

            @media #{$normal} {
                display: block;
                top: 22%;

                &.previous {
                    left: -50px;
        
                }
                &.next {
                    right: -50px;
                }
            }
            .flickity-button-icon {
                fill: #999;
            }

        }
        ol.flickity-page-dots {
            position: absolute;
            top: 0;
            padding: 15px 0;
            bottom: auto;

            @media #{$normal} {
                position: relative;
            }

            .dot {
                margin: 0 5px;
                background: white;
                opacity: 33%;
            }
            .is-selected {
                opacity: 1;
            }
        }
    }    
}