///////////////////////////////
/////////// Videos ////////////
///////////////////////////////

// Variables

// Videos in the header Slider

#slider {
    .video-wrapper {
        height: 50vw;
        max-height: 375px;
    }
}

// Videos in the bottom section
#videos {
    .video-container {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        padding-bottom: 35px;
        max-width: 400px;
        //min-height: 350px;
        background-color: $color-main;

        h1 {
            padding: 0 15px;
            color: white;
        }
    }
}

iframe {
    width: 100%;
    height: 100%;
    //max-height: 375px;
    //height: auto   !important;
/*
    #player {
        display: none;
        .html5-video-player {

            .ytp-watermark {
                display: none;
            }
        }
    }
    */
  }


.youtube-player {
    position: relative;
    padding-bottom: 56.23%;
    /* Use 75% for 4:3 videos */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: transparent;
    }

    img {
        bottom: 0;
        display: block;
        left: 0;
        margin: auto;
        max-width: 100%;
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        height: auto;
        cursor: pointer;
        -webkit-transition: .4s all;
        -moz-transition: .4s all;
        transition: .4s all;

        &:hover {
            -webkit-filter: brightness(75%);
        }
    }
    .play {
        height: 72px;
        width: 72px;
        left: 50%;
        top: 50%;
        margin-left: -36px;
        margin-top: -36px;
        position: absolute;
        background: url("//i.imgur.com/TxzC70f.png") no-repeat;
        cursor: pointer;
    }
}