///////////////////////////////
/////////// Videos ////////////
///////////////////////////////

// Variables

// Videos in the header Slider

#slider {
    .video-wrapper {
       // height: 50vw;
      //  max-height: 375px;
    }
}

// Videos in the bottom section
#videos {
    .video-container {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        padding-bottom: 35px;
        max-width: 400px;
        //min-height: 350px;
        background-color: $color-main;

        h1 {
            padding: 15px;
            color: white;

            @media #{$normal} {
                font-size: 40px;
            }
        }
        .share {
            position: absolute;
            right: 10px;
            padding: 0; //0 15px;
            //text-align: right;
            .button-share {
                display: inline-block;
                width: 65px;
                height: 15px;
                background: center center no-repeat url(/images/icon-share.svg);
                background-size: contain;
            }
        }
    }
}

.youtube-player {
    position: relative;
    padding-bottom: 56.23%;
    /* Use 75% for 4:3 videos */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: transparent;
    }

    img {
        bottom: 0;
        display: block;
        left: 0;
        margin: auto;
        max-width: 100%;
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        height: auto;
        cursor: pointer;
        -webkit-transition: .4s all;
        -moz-transition: .4s all;
        transition: .4s all;

        &:hover {
            //-webkit-filter: brightness(75%);
        }
    }
    .play {
        left: 50%;
        top: 50%;
        height: 30px;
        width: 30px;
        margin-left: -15px;
        margin-top: -15px;
        opacity: 0.5;
        position: absolute;
        background: center center no-repeat url(/images/icon-play.png);
        background-size: contain;

        @media #{$normal} {
            height: 50px;
            width: 50px;
            margin-left: -25px;
            margin-top: -25px;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }
    }
}